{% extends 'base.html'%}
{% block majd%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/about1.css' %}">
<div class="about">
    <div class="us">
        <img class="img" src="{% static 'image/pexels-victor-filemon-lopez-sanchez-3289921-5604339.jpg' %}" alt="" width="400px" height="400px">
        <div class="contact">
    
            <h2>Contact Us</h2>
            <h3>Email : www.#########@gmail.com</h3>
            <h3>Phone : 0###@#@@#@</h3>
            
        </div>
    </div>
    
</div>


<script src="{% static 'js/about1.js' %}" ></script>
{% endblock majd %}