.log{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93%;
    text-align: center;
}
.input{
    background-color: #eee;
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
p{
    margin-bottom: 20px;
}

